html {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans';
}

body {
    background-color: #f8e9dd;
    padding: 50px 15px;
}

#container {

}

#summary-section {
    background-color: #ec775f;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 7px;
    color: white;
    display: flex;
}

#summary-section #text {
    flex-basis: 100%;
}

#balance {
    font-size: 1.5rem;
    margin-top: 5px;
}

#details-section { 
    background-color: #fffaf5;
    padding: 20px;
    border-radius: 7px;
}

#title {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 50px;
    color: #382314;
}

#chart-section {
    font-size: 0.8rem;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 12px;
    align-items: end;
    justify-content: center;
}

.bar {
    border-radius: 3px;
}

#month-summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#month-summary .number {
    color: #382314;
}

#month-total .number {
    font-weight: 700;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}

#month-change {
    text-align: right;
    align-self: flex-end;
}

#month-change .number {
    font-weight: 700;
    margin-bottom: 3px;
}

#month-change .text {
    margin: 0px;
}

.bar {
    background-color: #ec775f;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
}

.current-bar {
    background-color: #76b5bc;
    height: 150px;
}

.bar:hover {
    background-color: #f2a99b;
}

.current-bar:hover {
    background-color: #99dee6;
}

.bold {
    font-weight: 700;
}

.text {
    color: #93867b;
}

hr {
    background-color: #f8e9dd;
    height: 2px;
    border: none;
}

.bar-number {
    background-color: #382314;
    height: 30px;
    width: 130%;
    padding: 0px 0px;
    position: absolute;
    top: -35px;
    border-radius: 3px;
    color: #fffaf5;
    font-weight: 700;
    /* display: none; */
    justify-content: center;
    align-items: center;
}

#bar-number-mon {
    display: none;
}

#bar-mon:hover + #bar-number-mon {
    display: block;
}

@media all and (min-width: 450px) {
    #container {
        width: 420px;
        margin: 0 auto;
    }
}